

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}


*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    background-color: var(--light-grayish-blue)
}

h1, .prueba > p, .avatar {
    padding: 0 2rem;
}



.container{
    width: 80%;
}

.image{
    width: 100%;
    background-image: url("./images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}

main{
    background-color: white;
}

.prueba{
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 15px max-content max-content;
}

.prueba > p{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.avatar{
    padding-top: 0.9rem;
    padding-bottom:  0.9rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2;
 
}

.share{
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
  
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.2em;
    z-index: 50;
}

.share:hover{
    cursor: pointer;
    background-color: rgb(252, 207, 234);
}


.etiqueta{
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    grid-column: 1 / -1;
    grid-row: 3 /  -1;
    background-color: var(--dark-grayish-blue);
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}




.etiqueta p{
    align-self: center;
    color:var(--grayish-blue);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

h1, h2{
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

h1{
    margin: 0;
    padding-top: 2rem;
    font-size: 1.5em;

}

 h2{
    font-size: 1em;
    margin: 0;
}

p{
    margin-bottom: 0;
    font-size: 1em;
    color: var(--dark-grayish-blue);
}


.texto p{
    margin-top: 0.1rem;
    color: var(--grayish-blue);
}



.avatar img{
    width: 40px;
    border-radius: 100%;
}

/* modificar javascript */

.colorInicial{
    background-color: var(--light-grayish-blue);
}

.cambioColor{
    background-color: var(--dark-blue);
}

.isShow{
    display: none !important;
}



@media (min-width: 750px) {
    .container{
        display: flex;
        max-width: 650px;
        width: 90%;
       
    }
    .image{
        align-self: stretch;
        background-size: cover;
        height: auto;
        background-color: lawngreen;
    }

    .etiqueta{
        padding:0;
        margin: 0;
        grid-column: 1 / -1;
        grid-row: 2 /  3;
        width: 60%;
        height: 90%;
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 0;
        margin-right: -35px;
        justify-content: center;
        gap:13px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px var(--light-grayish-blue);
    }

    .prueba > p{
        margin-bottom: 0rem;
    }

  }

